vti_encoding:SR|utf8-nl
vti_author:SR|Immmu-PC\\Immmu
vti_modifiedby:SR|Immmu-PC\\Immmu
vti_timelastmodified:TR|19 Oct 2017 03:15:35 -0000
vti_timecreated:TR|19 Oct 2017 03:15:35 -0000
vti_cacheddtm:TX|19 Oct 2017 03:15:35 -0000
vti_filesize:IR|60356
vti_cachedlinkinfo:VX|S|../img/count-bg.jpg S|../img/slider/s3.jpg S|../img/about/05.jpg S|../img/about/06.jpg S|../img/about/07.jpg S|../img/weather.png S|../img/pixel-bg.png S|../img/weather.png S|../img/rebel.png
vti_cachedsvcrellinks:VX|FSUS|img/count-bg.jpg FSUS|img/slider/s3.jpg FSUS|img/about/05.jpg FSUS|img/about/06.jpg FSUS|img/about/07.jpg FSUS|img/weather.png FSUS|img/pixel-bg.png FSUS|img/weather.png FSUS|img/rebel.png
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|home-banner/slider.htm default.htm
